.App {
  text-align: center;
}

.App-logo {
  animation: recycle-spin infinite 30s linear;
  transform-origin: center;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* Resume page CSS */

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

@keyframes recycle-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }

}
